## <centre>EXERCICE SUR PANDAS : ANALYSE DES CARACTERISTIQUES D'UNE VOITURE

In [1]:
 # Code optionnel 
from warnings import filterwarnings
filterwarnings('ignore')

In [3]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('ggplot')

In [7]:
file = 'FuelConsumptionCo2.csv'

In [9]:
df = pd.read_csv(file)
df

,MODELYEAR,MAKE,MODEL,VEHICLECLASS,ENGINESIZE,CYLINDERS,TRANSMISSION,FUELTYPE,FUELCONSUMPTION_CITY,FUELCONSUMPTION_HWY,FUELCONSUMPTION_COMB,FUELCONSUMPTION_COMB_MPG,CO2EMISSIONS
0,2014,ACURA,ILX,COMPACT,2.0,4,AS5,Z,9.9,6.7,8.5,33,196
1,2014,ACURA,ILX,COMPACT,2.4,4,M6,Z,11.2,7.7,9.6,29,221
2,2014,ACURA,ILX HYBRID,COMPACT,1.5,4,AV7,Z,6.0,5.8,5.9,48,136
3,2014,ACURA,MDX 4WD,SUV - SMALL,3.5,6,AS6,Z,12.7,9.1,11.1,25,255
4,2014,ACURA,RDX AWD,SUV - SMALL,3.5,6,AS6,Z,12.1,8.7,10.6,27,244
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1062,2014,VOLVO,XC60 AWD,SUV - SMALL,3.0,6,AS6,X,13.4,9.8,11.8,24,271
1063,2014,VOLVO,XC60 AWD,SUV - SMALL,3.2,6,AS6,X,13.2,9.5,11.5,25,264
1064,2014,VOLVO,XC70 AWD,SUV - SMALL,3.0,6,AS6,X,13.4,9.8,11.8,24,271
1065,2014,VOLVO,XC70 AWD,SUV - SMALL,3.2,6,AS6,X,12.9,9.3,11.3,25,260
1066,2014,VOLVO,XC90 AWD,SUV - STANDARD,3.2,6,AS6,X,14.9,10.2,12.8,22,294

In [11]:
df.shape

(1067, 13)

In [13]:
df.columns

Index(['MODELYEAR', 'MAKE', 'MODEL', 'VEHICLECLASS', 'ENGINESIZE', 'CYLINDERS',
       'TRANSMISSION', 'FUELTYPE', 'FUELCONSUMPTION_CITY',
       'FUELCONSUMPTION_HWY', 'FUELCONSUMPTION_COMB',
       'FUELCONSUMPTION_COMB_MPG', 'CO2EMISSIONS'],
      dtype='object')

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1067 entries, 0 to 1066
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   MODELYEAR                 1067 non-null   int64
 1   MAKE                      1067 non-null   object
 2   MODEL                     1067 non-null   object
 3   VEHICLECLASS              1067 non-null   object
 4   ENGINESIZE                1067 non-null   float64
 5   CYLINDERS                 1067 non-null   int64
 6   TRANSMISSION              1067 non-null   object
 7   FUELTYPE                  1067 non-null   object
 8   FUELCONSUMPTION_CITY      1067 non-null   float64
 9   FUELCONSUMPTION_HWY       1067 non-null   float64
 10  FUELCONSUMPTION_COMB      1067 non-null   float64
 11  FUELCONSUMPTION_COMB_MPG  1067 non-null   int64
 12  CO2EMISSIONS              1067 non-null   int64
dtypes: float64(4), int64(4), object(5)
memory usage: 108.5+ KB

In [17]:
df.isna().sum()

MODELYEAR                   0
MAKE                        0
MODEL                       0
VEHICLECLASS                0
ENGINESIZE                  0
CYLINDERS                   0
TRANSMISSION                0
FUELTYPE                    0
FUELCONSUMPTION_CITY        0
FUELCONSUMPTION_HWY         0
FUELCONSUMPTION_COMB        0
FUELCONSUMPTION_COMB_MPG    0
CO2EMISSIONS                0
dtype: int64

In [21]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
MODELYEAR,1067.0,2014.000000,0.000000,2014.0,2014.00,2014.0,2014.00,2014.0
ENGINESIZE,1067.0,3.346298,1.415895,1.0,2.00,3.4,4.30,8.4
CYLINDERS,1067.0,5.794752,1.797447,3.0,4.00,6.0,8.00,12.0
FUELCONSUMPTION_CITY,1067.0,13.296532,4.101253,4.6,10.25,12.6,15.55,30.2
FUELCONSUMPTION_HWY,1067.0,9.474602,2.794510,4.9,7.50,8.8,10.85,20.5
FUELCONSUMPTION_COMB,1067.0,11.580881,3.485595,4.7,9.00,10.9,13.35,25.8
FUELCONSUMPTION_COMB_MPG,1067.0,26.441425,7.468702,11.0,21.00,26.0,31.00,60.0
CO2EMISSIONS,1067.0,256.228679,63.372304,108.0,207.00,251.0,294.00,488.0

In [25]:
# Déterminer les modalités de chaque variables qualitatives

variables_qualitatives = df.select_dtypes(include ='object').columns
variables_qualitatives

Index(['MAKE', 'MODEL', 'VEHICLECLASS', 'TRANSMISSION', 'FUELTYPE'], dtype='object')

In [31]:
for i in  variables_qualitatives : 
    print("colonne ",i, ':',df[i].unique())
    print ('-'*70)

colonne  MAKE : ['ACURA' 'ASTON MARTIN' 'AUDI' 'BENTLEY' 'BMW' 'BUICK' 'CADILLAC'
 'CHEVROLET' 'CHRYSLER' 'DODGE' 'FIAT' 'FORD' 'GMC' 'HONDA' 'HYUNDAI'
 'INFINITI' 'JAGUAR' 'JEEP' 'KIA' 'LAMBORGHINI' 'LAND ROVER' 'LEXUS'
 'LINCOLN' 'MASERATI' 'MAZDA' 'MERCEDES-BENZ' 'MINI' 'MITSUBISHI' 'NISSAN'
 'PORSCHE' 'RAM' 'ROLLS-ROYCE' 'SCION' 'SMART' 'SRT' 'SUBARU' 'TOYOTA'
 'VOLKSWAGEN' 'VOLVO']
----------------------------------------------------------------------
colonne  MODEL : ['ILX' 'ILX HYBRID' 'MDX 4WD' 'RDX AWD' 'RLX' 'TL' 'TL AWD' 'TSX' 'DB9'
 'RAPIDE' 'V8 VANTAGE' 'V8 VANTAGE S' 'VANQUISH' 'A4' 'A4 QUATTRO'
 'A5 CABRIOLET QUATTRO' 'A5 QUATTRO' 'A6 QUATTRO'
 'A6 QUATTRO TDI CLEAN DIESEL' 'A7 QUATTRO' 'A7 QUATTRO TDI CLEAN DIESEL'
 'A8' 'A8 TDI CLEAN DIESEL' 'A8L' 'A8L TDI CLEAN DIESEL' 'ALLROAD QUATTRO'
 'Q5' 'Q5 HYBRID' 'Q5 TDI CLEAN DIESEL' 'Q7' 'Q7 TDI CLEAN DIESEL' 'R8'
 'R8 SPYDER' 'RS5' 'RS5 CABRIOLET' 'RS7' 'S4' 'S5' 'S5 CABRIOLET' 'S6'
 'S7' 'S8' 'SQ5' 'TT COUPE QUATTRO' 'TT ROADSTER QUATTRO'
 'TTS COUPE QUATTRO' 'TTS ROADSTER QUATTRO' 'CONTINENTAL GT'
 'CONTINENTAL GT CONVERTIBLE' 'CONTINENTAL GT SPEED CONVERTIBLE'
 'CONTINENTAL GTC' 'FLYING SPUR' 'MULSANNE' '320i' '320i xDRIVE'
 '328d xDRIVE' '328d xDRIVE TOURING' '328i' '328i xDRIVE'
 '328i xDRIVE GRAN TURISMO' '328i xDRIVE TOURING' '335i' '335i xDRIVE'
 '335i xDRIVE GRAN TURISMO' '428i COUPE' '428i xDRIVE COUPE' '435i COUPE'
 '435i xDRIVE COUPE' '528i' '528i xDRIVE' '535d xDRIVE' '535i xDRIVE'
 '535i xDRIVE GRAN TURISMO' '550i xDRIVE' '550i xDRIVE GRAN TURISMO'
 '640i xDRIVE GRAN COUPE' '650i xDRIVE CABRIOLET' '650i xDRIVE COUPE'
 '650i xDRIVE GRAN COUPE' '740Li xDRIVE' '750i xDRIVE' '750Li xDRIVE'
 '760Li' 'ACTIVEHYBRID 3' 'ACTIVEHYBRID 5' 'ACTIVEHYBRID 7L'
 'ALPINA B7 xDRIVE LWB' 'ALPINA B7 xDRIVE SWB' 'M5' 'M6' 'M6 CABRIOLET'
 'M6 GRAN COUPE' 'X1 xDRIVE28i' 'X1 xDRIVE35i' 'X3 xDRIVE28i'
 'X3 xDRIVE35i' 'X5 xDRIVE35i' 'X5 xDRIVE50i' 'X6 M' 'X6 xDRIVE35i'
 'X6 xDRIVE50i' 'Z4 sDRIVE28i' 'Z4 sDRIVE35i' 'Z4 sDRIVE35is' 'ENCLAVE'
 'ENCLAVE AWD' 'ENCORE' 'ENCORE AWD' 'LACROSSE' 'LACROSSE AWD'
 'LACROSSE eASSIST' 'REGAL' 'REGAL AWD' 'REGAL eASSIST' 'VERANO' 'ATS'
 'ATS AWD' 'CTS COUPE' 'CTS COUPE AWD' 'CTS SEDAN' 'CTS SEDAN AWD'
 'CTS SEDAN Vsport' 'CTS SPORT WAGON' 'CTS SPORT WAGON AWD' 'CTS-V COUPE'
 'CTS-V SEDAN' 'CTS-V SPORT WAGON' 'ESCALADE AWD' 'ESCALADE ESV AWD' 'SRX'
 'SRX AWD' 'XTS' 'XTS AWD' 'XTS Vsport AWD' 'CAMARO' 'CAMARO 2LS'
 'CAMARO SS' 'CAMARO ZL1' 'CORVETTE' 'CRUZE' 'CRUZE DIESEL' 'CRUZE ECO'
 'EQUINOX' 'EQUINOX AWD' 'EXPRESS 1500 CARGO' 'EXPRESS 1500 CARGO AWD'
 'EXPRESS 1500 CARGO CONV' 'EXPRESS 1500 CARGO CONV AWD'
 'EXPRESS 1500 PASSENGER' 'EXPRESS 1500 PASSENGER AWD'
 'EXPRESS 2500 PASSENGER' 'EXPRESS 3500 PASSENGER' 'IMPALA' 'IMPALA ECO'
 'MALIBU' 'ORLANDO' 'SILVERADO' 'SILVERADO 4WD' 'SONIC' 'SONIC 5'
 'SONIC 5 RS' 'SONIC RS' 'SPARK' 'SUBURBAN' 'SUBURBAN 4WD' 'TAHOE'
 'TAHOE 4WD' 'TRAVERSE' 'TRAVERSE AWD' 'TRAX' 'TRAX AWD' '300'
 '200 CONVERTIBLE' '200 CONVERTIBLE FFV' '200 SEDAN' '200 SEDAN FFV'
 '300 (MDS)' '300 AWD' '300 AWD (MDS)' '300 AWD FFV' '300 FFV'
 '300 SRT (MDS)' 'TOWN & COUNTRY FFV' 'AVENGER' 'AVENGER FFV' 'CHALLENGER'
 'CHALLENGER (MDS)' 'CHALLENGER SRT' 'CHALLENGER SRT (MDS)' 'CHARGER'
 'CHARGER (MDS)' 'CHARGER AWD' 'CHARGER AWD (MDS)' 'CHARGER AWD FFV'
 'CHARGER FFV' 'CHARGER SRT (MDS)' 'DART' 'DART FFV' 'DART GT'
 'DART TURBO AERO' 'DURANGO AWD (MDS)' 'DURANGO AWD FFV'
 'GRAND CARAVAN FFV' 'JOURNEY' 'JOURNEY AWD' 'JOURNEY FFV'
 '500 ABARTH CABRIO' '500 ABARTH HATCHBACK' '500 CABRIO'
 '500 CABRIO TURBO' '500 HATCHBACK' '500 HATCHBACK TURBO' '500L TURBO'
 'C-MAX HYBRID' 'E150 VAN FFV' 'E150 WAGON FFV' 'E350 WAGON'
 'E350 WAGON FFV' 'EDGE' 'EDGE AWD' 'ESCAPE' 'ESCAPE AWD'
 'EXPEDITION 4X4 FFV' 'EXPLORER' 'EXPLORER AWD' 'EXPLORER FFV'
 'EXPLORER FFV AWD' 'F150' 'F150 4X4' 'F150 FFV' 'F150 FFV 4X4'
 'F150 RAPTOR 4X4' 'FIESTA' 'FIESTA SFE' 'FIESTA ST' 'FLEX' 'FLEX AWD'
 'FLEX AWD (EcoBoost)' 'FOCUS' 'FOCUS FFV' 'FOCUS SFE FFV' 'FUSION'
 'FUSION (Start/Stop)' 'FUSION AWD' 'FUSION HYBRID' 'MUSTANG'
 'MUSTANG CONVERTIBLE' 'TAURUS' 'TAURUS AWD' 'TAURUS FFV' 'TAURUS FFV AWD'
 'TRANSIT CONNECT' 'TRANSIT CONNECT TAXI' 'TRANSIT CONNECT WAGON' 'ACADIA'
 'ACADIA AWD' 'SAVANA 1500 CARGO' 'SAVANA 1500 CARGO AWD'
 'SAVANA 1500 CARGO CONV' 'SAVANA 1500 CARGO CONV AWD'
 'SAVANA 1500 PASSENGER' 'SAVANA 1500 PASSENGER AWD'
 'SAVANA 2500 PASSENGER' 'SAVANA 3500 PASSENGER' 'SIERRA' 'SIERRA 4WD'
 'TERRAIN' 'TERRAIN AWD' 'YUKON' 'YUKON 4WD' 'YUKON DENALI AWD'
 'YUKON DENALI XL AWD' 'YUKON XL' 'YUKON XL 4WD' 'ACCORD' 'ACCORD HYBRID'
 'CIVIC' 'CROSSTOUR AWD' 'CR-V' 'CR-V AWD' 'CR-Z' 'FIT' 'ODYSSEY' 'PILOT'
 'PILOT AWD' 'RIDGELINE AWD' 'ACCENT' 'ELANTRA GT' 'EQUUS' 'GENESIS'
 'SANTA FE' 'SANTA FE 4WD' 'SANTA FE SPORT' 'SANTA FE SPORT 4WD' 'SONATA'
 'SONATA HYBRID' 'SONATA HYBRID LIMITED' 'TUCSON' 'TUCSON 4WD' 'VELOSTER'
 'VELOSTER TURBO' 'Q50' 'Q50 AWD' 'Q50 HYBRID' 'Q50 HYBRID AWD'
 'Q60 AWD COUPE' 'Q60 CONVERTIBLE' 'Q60 COUPE' 'Q70' 'Q70 AWD'
 'Q70 HYBRID' 'QX50 AWD' 'QX60' 'QX60 AWD' 'QX60 HYBRID AWD' 'QX70 AWD'
 'QX80 4WD' 'F-TYPE CONVERTIBLE' 'F-TYPE S CONVERTIBLE'
 'F-TYPE V8 S CONVERTIBLE' 'XF' 'XF 3.0L AWD' 'XFR' 'XFR-S' 'XJ AWD'
 'XJ SUPERCHARGED' 'XJL AWD PORTFOLIO' 'XJL SUPERCHARGED' 'XJR' 'XJR LWB'
 'XK CONVERTIBLE' 'XK COUPE' 'XKR CONVERTIBLE' 'XKR COUPE'
 'XKR-S CONVERTIBLE' 'XKR-S COUPE' 'CHEROKEE' 'CHEROKEE 4X4'
 'CHEROKEE 4X4 Active Drive II' 'CHEROKEE TRAILHAWK 4X4' 'COMPASS'
 'COMPASS 4X4' 'COMPASS 4X4 TRAIL RATED' 'GRAND CHEROKEE 4X4 (MDS)'
 'GRAND CHEROKEE 4X4 DIESEL' 'GRAND CHEROKEE 4X4 FFV'
 'GRAND CHEROKEE 4X4 SRT (MDS)' 'PATRIOT' 'PATRIOT 4X4'
 'PATRIOT 4X4 TRAIL RATED' 'WRANGLER 4X4 (2-DOOR)'
 'WRANGLER UNLIMITED 4X4 (4-DOOR)' 'CADENZA' 'FORTE' 'FORTE 5'
 'FORTE KOUP' 'OPTIMA' 'RIO' 'RIO ECO' 'RONDO' 'SEDONA' 'SORENTO'
 'SORENTO 4WD' 'SOUL' 'SOUL ECO Dynamics' 'SPORTAGE' 'SPORTAGE AWD'
 'AVENTADOR COUPE' 'GALLARDO COUPE' 'LR2' 'LR4' 'RANGE ROVER EVOQUE'
 'RANGE ROVER EVOQUE COUPE' 'RANGE ROVER LWB V8 5.0 SC'
 'RANGE ROVER LWB V8 5.0 SC FFV' 'RANGE ROVER SPORT V6 3.0 SC'
 'RANGE ROVER SPORT V6 3.0 SC FFV' 'RANGE ROVER SPORT V8 5.0 SC'
 'RANGE ROVER SPORT V8 5.0 SC FFV' 'RANGE ROVER V6 3.0 SC'
 'RANGE ROVER V6 3.0 SC FFV' 'RANGE ROVER V8 5.0 SC'
 'RANGE ROVER V8 5.0 SC FFV' 'CT 200h' 'ES 300h' 'ES 350' 'GS 350'
 'GS 350 AWD' 'GS 450h' 'GX 460' 'IS 250' 'IS 250 AWD' 'IS 250 C' 'IS 350'
 'IS 350 AWD' 'IS 350 C' 'IS F' 'LS 460' 'LS 460 AWD' 'LS 460 L AWD'
 'LS 600h L' 'LX 570' 'RX 350 AWD' 'RX 450h AWD' 'MKS AWD' 'MKT AWD'
 'MKT LIVERY' 'MKT LIVERY AWD' 'MKX AWD' 'MKZ' 'MKZ AWD' 'MKZ HYBRID'
 'NAVIGATOR 4X4 FFV' 'GHIBLI' 'GHIBLI AWD' 'GRANTURISMO'
 'GRANTURISMO CONVERTIBLE' 'QUATTROPORTE GTS' 'QUATTROPORTE SQ4' 'CX-5'
 'CX-5 4WD' 'CX-9' 'CX-9 4WD' 'MAZDA2' 'MAZDA3 4-DOOR'
 'MAZDA3 4-DOOR (i-ELOOP)' 'MAZDA3 4-DOOR (SIL)' 'MAZDA3 5-DOOR'
 'MAZDA3 5-DOOR (i-ELOOP)' 'MAZDA3 5-DOOR (SIL)' 'MAZDA5' 'MAZDA6'
 'MAZDA6 (i-ELOOP)' 'MX-5' 'B 250' 'C 250' 'C 250 COUPE'
 'C 300 4MATIC FFV' 'C 350' 'C 350 4MATIC' 'C 350 4MATIC COUPE'
 'C 350 COUPE' 'C 63 AMG' 'C 63 AMG COUPE' 'CL 550 4MATIC' 'CL 63 AMG'
 'CLA 250' 'CLA 45 AMG 4MATIC' 'CLS 550 4MATIC' 'CLS 63 AMG 4MATIC'
 'CLS 63 AMG S 4MATIC' 'E 250 BLUETEC 4MATIC' 'E 300 4MATIC'
 'E 350 4MATIC' 'E 350 4MATIC COUPE' 'E 350 4MATIC WAGON'
 'E 350 CABRIOLET' 'E 350 COUPE' 'E 400 HYBRID' 'E 550 4MATIC'
 'E 550 CABRIOLET' 'E 550 COUPE' 'E 63 AMG 4MATIC' 'E 63 AMG 4MATIC WAGON'
 'E 63 AMG S 4MATIC' 'E 63 AMG S 4MATIC WAGON' 'G 550' 'G 63 AMG'
 'GL 350 BLUETEC 4MATIC' 'GL 450 4MATIC' 'GL 550 4MATIC' 'GL 63 AMG'
 'GLK 250 BLUETEC 4MATIC' 'GLK 350 4MATIC' 'ML 350 4MATIC FFV'
 'ML 350 BLUETEC 4MATIC' 'ML 550 4MATIC' 'ML 63 AMG 4MATIC'
 'S 550 4MATIC LWB' 'S 550 4MATIC SWB' 'S 63 AMG 4MATIC' 'SL 550'
 'SL 63 AMG' 'SL 65 AMG' 'SLK 250' 'SLK 350' 'SLK 55 AMG'
 'SLS AMG BLACK SERIES COUPE' 'SLS AMG GT COUPE' 'SLS AMG ROADSTER'
 'COOPER CLUBMAN' 'COOPER CONVERTIBLE' 'COOPER COUNTRYMAN' 'COOPER COUPE'
 'COOPER PACEMAN' 'COOPER ROADSTER' 'COOPER S CLUBMAN'
 'COOPER S CONVERTIBLE' 'COOPER S COUNTRYMAN ALL4' 'COOPER S COUPE'
 'COOPER S PACEMAN ALL4' 'COOPER S ROADSTER' 'JOHN COOPER WORKS CLUBMAN'
 'JOHN COOPER WORKS CONVERTIBLE' 'JOHN COOPER WORKS COUNTRYMAN ALL4'
 'JOHN COOPER WORKS COUPE' 'JOHN COOPER WORKS PACEMAN ALL4'
 'JOHN COOPER WORKS ROADSTER' 'LANCER' 'LANCER AWD' 'LANCER EVOLUTION'
 'LANCER RALLIART' 'LANCER SPORTBACK' 'MIRAGE' 'OUTLANDER' 'OUTLANDER 4WD'
 'RVR' 'RVR 4WD' '370Z' '370Z ROADSTER' 'ALTIMA' 'ARMADA 4WD' 'FRONTIER'
 'FRONTIER 4WD' 'GT-R' 'JUKE' 'JUKE AWD' 'MAXIMA' 'MURANO AWD'
 'NV200 CARGO VAN' 'PATHFINDER' 'PATHFINDER 4WD' 'PATHFINDER HYBRID 4WD'
 'QUEST' 'ROGUE' 'ROGUE AWD' 'SENTRA' 'TITAN' 'TITAN 4WD' 'VERSA'
 'XTERRA 4WD' '911 CARRERA' '911 CARRERA 4' '911 CARRERA 4 CABRIOLET'
 '911 CARRERA 4S' '911 CARRERA 4S CABRIOLET' '911 CARRERA CABRIOLET'
 '911 CARRERA S' '911 CARRERA S CABRIOLET' '911 GT3' '911 TURBO'
 '911 TURBO CABRIOLET' '911 TURBO S' '911 TURBO S CABRIOLET' 'BOXSTER'
 'BOXSTER S' 'CAYENNE' 'CAYENNE DIESEL' 'CAYENNE GTS' 'CAYENNE S'
 'CAYENNE S HYBRID' 'CAYENNE TURBO' 'CAYMAN' 'CAYMAN S' 'PANAMERA'
 'PANAMERA 4' 'PANAMERA 4S' 'PANAMERA 4S EXECUTIVE' 'PANAMERA GTS'
 'PANAMERA S' 'PANAMERA TURBO' 'PANAMERA TURBO EXECUTIVE' '1500 (MDS)'
 '1500 4X4 (MDS)' '1500 4X4 DIESEL' '1500 4X4 FFV' '1500 DIESEL'
 '1500 FFV' '1500 HFE' 'CARGO VAN FFV' 'GHOST' 'GHOST EWB' 'PHANTOM'
 'PHANTOM COUPE' 'PHANTOM DROPHEAD COUPE' 'PHANTOM EWB' 'WRAITH' 'FR-S'
 'iQ' 'tC' 'xB' 'xD' 'FORTWO CABRIOLET' 'FORTWO COUPE' 'VIPER COUPE'
 'VIPER GTS COUPE' 'BRZ' 'FORESTER AWD' 'IMPREZA AWD' 'IMPREZA WAGON AWD'
 'LEGACY AWD' 'OUTBACK AWD' 'TRIBECA AWD' 'XV CROSSTREK AWD'
 'XV CROSSTREK HYBRID AWD' '4RUNNER (Part-Time 4WD)' '4RUNNER 4WD'
 'AVALON' 'CAMRY' 'CAMRY HYBRID LE' 'CAMRY HYBRID XLE/SE' 'COROLLA'
 'COROLLA LE ECO (1-mode)' 'COROLLA LE ECO (2-mode)' 'COROLLA MATRIX'
 'FJ CRUISER 4WD' 'HIGHLANDER' 'HIGHLANDER AWD' 'HIGHLANDER HYBRID AWD'
 'HIGHLANDER HYBRID AWD LE' 'PRIUS' 'PRIUS c' 'PRIUS v' 'RAV4' 'RAV4 AWD'
 'RAV4 LIMITED AWD' 'SEQUOIA 4WD' 'SIENNA' 'SIENNA AWD' 'TACOMA'
 'TACOMA 4WD' 'TUNDRA' 'TUNDRA 4WD' 'VENZA' 'VENZA 4WD' 'YARIS' 'BEETLE'
 'BEETLE CONVERTIBLE' 'BEETLE TDI CLEAN DIESEL' 'CC' 'CC 4MOTION' 'EOS'
 'GOLF WAGON' 'GOLF WAGON TDI CLEAN DIESEL' 'JETTA' 'JETTA GLI'
 'JETTA TDI CLEAN DIESEL' 'JETTA TURBO HYBRID' 'PASSAT'
 'PASSAT TDI CLEAN DIESEL' 'ROUTAN' 'TIGUAN' 'TIGUAN 4MOTION' 'TOUAREG'
 'TOUAREG TDI CLEAN DIESEL' 'S60' 'S60 AWD' 'S80' 'S80 AWD' 'XC60'
 'XC60 AWD' 'XC70 AWD' 'XC90 AWD']
----------------------------------------------------------------------
colonne  VEHICLECLASS : ['COMPACT' 'SUV - SMALL' 'MID-SIZE' 'MINICOMPACT' 'SUBCOMPACT'
 'TWO-SEATER' 'FULL-SIZE' 'STATION WAGON - SMALL' 'SUV - STANDARD'
 'VAN - CARGO' 'VAN - PASSENGER' 'PICKUP TRUCK - STANDARD' 'MINIVAN'
 'SPECIAL PURPOSE VEHICLE' 'STATION WAGON - MID-SIZE'
 'PICKUP TRUCK - SMALL']
----------------------------------------------------------------------
colonne  TRANSMISSION : ['AS5' 'M6' 'AV7' 'AS6' 'A6' 'AM7' 'AV8' 'AS8' 'A7' 'A8' 'M7' 'A4' 'M5'
 'AV' 'A5' 'AM6' 'AS7' 'A9' 'AS9' 'AV6' 'AS4' 'AM5']
----------------------------------------------------------------------
colonne  FUELTYPE : ['Z' 'D' 'X' 'E']
----------------------------------------------------------------------

In [33]:
df.columns

Index(['MODELYEAR', 'MAKE', 'MODEL', 'VEHICLECLASS', 'ENGINESIZE', 'CYLINDERS',
       'TRANSMISSION', 'FUELTYPE', 'FUELCONSUMPTION_CITY',
       'FUELCONSUMPTION_HWY', 'FUELCONSUMPTION_COMB',
       'FUELCONSUMPTION_COMB_MPG', 'CO2EMISSIONS'],
      dtype='object')

In [35]:
#  A partir de df, créer und dataframe nommé X 
X=df[[ 'ENGINESIZE', 'FUELCONSUMPTION_CITY','FUELCONSUMPTION_HWY','FUELCONSUMPTION_COMB','CYLINDERS',]]
X

,ENGINESIZE,FUELCONSUMPTION_CITY,FUELCONSUMPTION_HWY,FUELCONSUMPTION_COMB,CYLINDERS
0,2.0,9.9,6.7,8.5,4
1,2.4,11.2,7.7,9.6,4
2,1.5,6.0,5.8,5.9,4
3,3.5,12.7,9.1,11.1,6
4,3.5,12.1,8.7,10.6,6
...,...,...,...,...,...
1062,3.0,13.4,9.8,11.8,6
1063,3.2,13.2,9.5,11.5,6
1064,3.0,13.4,9.8,11.8,6
1065,3.2,12.9,9.3,11.3,6
1066,3.2,14.9,10.2,12.8,6

In [39]:
Y=df[['CO2EMISSIONS']]
Y

      CO2EMISSIONS
0              196
1              221
2              136
3              255
4              244
...            ...
1062           271
1063           264
1064           271
1065           260
1066           294

[1067 rows x 1 columns]

In [43]:
df.head(3)

,MODELYEAR,MAKE,MODEL,VEHICLECLASS,ENGINESIZE,CYLINDERS,TRANSMISSION,FUELTYPE,FUELCONSUMPTION_CITY,FUELCONSUMPTION_HWY,FUELCONSUMPTION_COMB,FUELCONSUMPTION_COMB_MPG,CO2EMISSIONS
0,2014,ACURA,ILX,COMPACT,2.0,4,AS5,Z,9.9,6.7,8.5,33,196
1,2014,ACURA,ILX,COMPACT,2.4,4,M6,Z,11.2,7.7,9.6,29,221
2,2014,ACURA,ILX HYBRID,COMPACT,1.5,4,AV7,Z,6.0,5.8,5.9,48,136

In [47]:
df.groupby('VEHICLECLASS')['ENGINESIZE'].mean()

VEHICLECLASS
COMPACT                     2.518023
FULL-SIZE                   3.931395
MID-SIZE                    3.017978
MINICOMPACT                 3.078723
MINIVAN                     3.407143
PICKUP TRUCK - SMALL        3.316667
PICKUP TRUCK - STANDARD     4.675806
SPECIAL PURPOSE VEHICLE     2.271429
STATION WAGON - MID-SIZE    3.383333
STATION WAGON - SMALL       2.375000
SUBCOMPACT                  3.272308
SUV - SMALL                 2.745455
SUV - STANDARD              4.380909
TWO-SEATER                  3.536620
VAN - CARGO                 5.154545
VAN - PASSENGER             5.456000
Name: ENGINESIZE, dtype: float64

In [57]:
df

,MODELYEAR,MAKE,MODEL,VEHICLECLASS,ENGINESIZE,CYLINDERS,TRANSMISSION,FUELTYPE,FUELCONSUMPTION_CITY,FUELCONSUMPTION_HWY,FUELCONSUMPTION_COMB,FUELCONSUMPTION_COMB_MPG,CO2EMISSIONS
0,2014,ACURA,ILX,COMPACT,2.0,4,AS5,Z,9.9,6.7,8.5,33,196
1,2014,ACURA,ILX,COMPACT,2.4,4,M6,Z,11.2,7.7,9.6,29,221
2,2014,ACURA,ILX HYBRID,COMPACT,1.5,4,AV7,Z,6.0,5.8,5.9,48,136
3,2014,ACURA,MDX 4WD,SUV - SMALL,3.5,6,AS6,Z,12.7,9.1,11.1,25,255
4,2014,ACURA,RDX AWD,SUV - SMALL,3.5,6,AS6,Z,12.1,8.7,10.6,27,244
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1062,2014,VOLVO,XC60 AWD,SUV - SMALL,3.0,6,AS6,X,13.4,9.8,11.8,24,271
1063,2014,VOLVO,XC60 AWD,SUV - SMALL,3.2,6,AS6,X,13.2,9.5,11.5,25,264
1064,2014,VOLVO,XC70 AWD,SUV - SMALL,3.0,6,AS6,X,13.4,9.8,11.8,24,271
1065,2014,VOLVO,XC70 AWD,SUV - SMALL,3.2,6,AS6,X,12.9,9.3,11.3,25,260
1066,2014,VOLVO,XC90 AWD,SUV - STANDARD,3.2,6,AS6,X,14.9,10.2,12.8,22,294

#### groupement par MAKE et CYLINDERS

In [65]:
df.groupby(['MAKE','CYLINDERS'])[['ENGINESIZE','FUELCONSUMPTION_CITY']].agg(["mean","median"])

                       ENGINESIZE        FUELCONSUMPTION_CITY
                             mean median                 mean median
MAKE         CYLINDERS
ACURA        4           2.140000    2.4             9.780000  10.60
             6           3.557143    3.5            12.400000  12.10
ASTON MARTIN 8           4.700000    4.7            17.750000  17.75
             12          5.900000    5.9            18.000000  18.00
AUDI         4           2.000000    2.0            11.107143  11.50
...                           ...    ...                  ...    ...
VOLKSWAGEN   4           1.933333    2.0             9.763333   9.95
             5           2.500000    2.5            11.128571  11.20
             6           3.480000    3.6            13.400000  13.80
VOLVO        5           2.500000    2.5            11.450000  11.45
             6           3.111111    3.2            13.233333  13.20

[96 rows x 4 columns]